<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         verbose="true">

    <testsuites>
        <testsuite name="Integration">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <!-- Set your Zaslat API key here or pass via env: ZASLAT_API_KEY=xxx ./vendor/bin/phpunit -->
        <env name="ZASLAT_API_KEY" value="x"/>
    </php>

</phpunit>
